__pycache__/
*.pyc
.ipynb_checkpoints/
artifacts/**/*.pkl
artifacts/videos/
*.mp4
build/
install/
log/

# LaTeX build products
report/*.aux
report/*.fdb_latexmk
report/*.fls
report/*.lo[fgt]
report/*.log
report/*.out
report/*.toc
report/*.pdf
